{% extends 'toDoTracker/base.html' %}
<script>
    this.form.elements["todo_text"].value = ;
</script>

{% block content %}
    <main>
        <h2>Edit TODO</h2>
        <form class="form" action="{% url 'toDoTracker:edit' item.id %}" method="post">{% csrf_token %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>TODO</th>
                            <th>Deadline</th>
                            <th>Done(%)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><textarea class = "form-control" name="todo_text" rows = "1" maxlength="160" required >{{item.toDo_text}}</textarea></td>
                            <td><input type="date" class="calender form-control" name="date" value = {{ item.due_date | date:"Y-m-d" }} required ></input></td>
                            <td><input type="range" name="progress" value = "{{item.progress}}" min="0" max="100" class="range form-control"></input></td>
                            <td><button type="submit" class="btn btn-outline-dark" name = "done">Done</button></td>
                            <td><button type="submit" class="btn btn-outline-dark" name = "cancel" formaction="{% url 'toDoTracker:myToDos'%}">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </main>
{% endblock %}