p {
	margin-top: 2%;
    margin-left: 5%;
}

ul{
    margin-left: 5%;
}

h1 {
	margin-top: 10px;
	margin-left: 10px;
}

h2 {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}