h1 {
	margin-top: 10px;
	margin-left: 10px;
}

h2 {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 40px;
}

p {
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.range{
	min-width: 75px;
}

.calender{
	max-width: 200px;
}
